<tr id="employee-<%= item_stock.id%>">
  <th scope="row">    
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= item_stock.name %></span>
      </div>
    </div>
  </th>
  <th scope="row">    
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= item_stock.comment %></span>
      </div>
    </div>
  </th>
  <td class="budget">
    <%= item_stock.price %> $
  </td>
</tr>
